* {
    margin: 0;
    padding: 0;
}

.swithDivContain {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.longCanvas {
    transition: all 1s;
}

/* 引言部分 */
.introduction {
    width: 100vw;
    height: 100vh;
    background-image: url(../img/deemo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    transition: all 1s;
    overflow: hidden;
    position: relative;
}

@keyframes whiteToBlk50 {
    from {
        background-color: rgba(0, 0, 0, 0);
    }

    to {
        background-color: rgba(0, 0, 0, .5);
    }
}

.mask {
    width: 100vw;
    height: 100vh;
    position: absolute;
    animation: whiteToBlk50 1s ease-out 1s forwards;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.introductionText,
.introductionTitle {
    color: #fff;
    font-size: 24px;
}

@keyframes opctZeroToOne {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.introductionText span:first-child {
    opacity: 0;
    animation: opctZeroToOne .5s ease-out 2s forwards;
}

.introductionText span:last-child {
    opacity: 0;
    animation: opctZeroToOne .5s ease-out 3s forwards;
}

.introductionTitle {
    opacity: 0;
    animation: opctZeroToOne .5s ease-out 4s forwards;
    transform: translate(0px, 100px);
}

@keyframes breath {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.seeMore {
    width: 100%;
    position: absolute;
    text-align: center;
    bottom: 5vh;
    color: #fff;
    animation: breath 2s ease-in-out infinite;
}

/* 引言部分结束 */

/* 个人介绍 */

@keyframes rotate360 {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

.showMe {
    width: 100vw;
    height: 100vh;
    transition: all 1s;
    overflow: hidden;
}

.headImg {
    width: 180px;
    height: 180px;
    border: solid 10px #fff;
    border-radius: 50%;
    box-shadow: 3px 3px 10px rgb(185, 185, 185);
    background-image: url(../img/mandora.jpg);
    background-size: contain;
    animation: rotate360 10s linear infinite;
    margin: 0 auto;
    margin-top: 10vh;
}



.showMe p {
    text-align: center;
    margin-top: 3vh;
}

.thankList {
    text-align: center;
    margin-top: 3vh;
}

.thankList a {
    color: rgb(160, 160, 160);
}

.showMeMoveup {
    transform: translateY(-100vh);
}