* {
    margin: 0;
    padding: 0;
}

.swithDivContain {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

/* 引言部分 */
.indexImg {
    width: 100vw;
    height: 100vh;
    background-image: url(../img/deemo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    transition: all 1s;
}

.indexImgMoveup {

    transform: translateY(-100vh);
}

@keyframes maskShow {
    from {
        background-color: rgba(0, 0, 0, 0);
    }

    to {
        background-color: rgba(0, 0, 0, .5);
    }
}

.mask {
    width: 100%;
    height: 100%;
    position: absolute;
    animation: maskShow 1s ease-out 1s forwards;
}

.title {
    color: #fff;
    font-size: .9vw;
    position: absolute;
    top: 50vh;
    opacity: 0;
}

@keyframes titleShow {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.title1 {
    left: 44vw;
    animation: titleShow .5s ease-out 2s forwards;
}

.title2 {
    left: 50vw;
    animation: titleShow .5s ease-out 3s forwards;
}

.title3 {
    top: 55vh;
    left: 55vw;
    animation: titleShow .5s ease-out 4s forwards;
}

@keyframes breath {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.seeMore {
    width: 100%;
    position: absolute;
    text-align: center;
    bottom: 5vh;
    color: #fff;
    animation: breath 2s ease-in-out infinite;
}

/* 引言部分结束 */

/* 个人介绍 */


@keyframes rotate360 {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

.headImg {
    width: 8vw;
    height: 8vw;
    border: solid .5vw #fff;
    border-radius: 50%;
    box-shadow: 3px 3px 10px rgb(185, 185, 185);
    background-image: url(../img/mandora.jpg);
    background-size: contain;
    animation: rotate360 10s linear infinite;
    margin: 0 auto;
    margin-top: 10vh;
}

.showMe {
    width: 100vw;
    height: 100vh;
    transition: all 1s;
}

.showMe p {
    text-align: center;
    margin-top: 3vh;
}

.thankList {
    text-align: center;
    margin-top: 3vh;
}

.thankList a {
    color: rgb(160, 160, 160);
}

.showMeMoveup {
    transform: translateY(-100vh);
}